h2.a {
    visibility: visible;
  }
  
  h2.b {
    visibility: hidden;
  }
  table, td {
    border: 1px solid black;
  }
  
  tr.collapse {
    visibility: collapse;
  }
  #box1{
    cursor:alias;

  }
  #box2{
    cursor: all-scroll;
  }
  #box3{
    cursor: not-allowed;
  }
#box4{
    cursor: crosshair;
}
#box5{
    cursor: grabbing;
}
